{% load static %}
{% load i18n %}
{% with request.resolver_match.view_name as view_name %}
  <header>
    <div class="px-3 py-2 text-bg-warning border-bottom">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="/"
            class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none "
          >
            <img
              src="{% static 'favicon/favicon-32x32.ico' %}"
              class="bi me-2"
              width="40"
              height="32"
              role="img"
              aria-label="Bootstrap"
            >
            <use xlink:href="#bootstrap"></use>
          </a>

        </div>
      </div>
{% endwith %}
</div>
</header>