[flake8-expression-complexity]
max-expression-complexity = 15

[flake8]
exclude =
    */migrations/,
    .venv/,
    prod_venv/,
    venv/,
    .env,
    .git,
    __pycache__

max-line-length = 88
inline-quotes = double
requirements-files = 
    requirements/lints.txt
    requirements/prod.txt
    requirements/develop.txt
    requirements/test.txt
    pyproject.toml
import-order-style = google
application-import-names = autopass, users

