[flake8]
exclude =
    */migrations/,
    .venv/,
    prod_venv/,
    venv/,
    .env,
    .git,
    __pycache__
ignore = AZ100, W503
max-line-length = 88
inline-quotes = double
requirements-files =
    requirements/lints.txt
    requirements/prod.txt
    requirements/develop.txt
    requirements/test.txt
    pyproject.toml
import-order-style = google
max-expression-complexity = 12
application-import-names = autopass, users, organizations, card_maker, passes, homepage, curator
