[flake8]
exclude =
    # Папки
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    .env,
    dist,
    build,
    .tox,
    */migrations/

    
    # Файлы
    *.pyc,
    *.egg-info,
    .cache,
    .coverage,
    
    # Специфичные директории
    migrations/,
    legacy_code/,
    generated/,
    
    # Временные файлы
    *.tmp,
    *.bak,
    *.swp
max-line-length = 88
max-complexity = 12
inline-quotes = double
requirements-files = 
    requirements/lints.txt
    requirements/prod.txt
    requirements/develop.txt
    requirements/test.txt
    pyproject.toml